@charset "UTF-8";

@font-face {
    font-family: 'nasa';
    src: url('../font/nasalization-rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space';
    src: url('../font/space\ age.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --color1: #ffffff;
    --color2: #212121;
    --color3: #2d56b2;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font1: 'nasa';
    --font2: 'space';
}

body{
    background-color: var(--color2);
    color: var(--color1);
    font-family: var(--font1);
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 30px;
}

a{
    color: var(--color1);
}

a:hover{
    color: var(--color3);
    transition: 0.4s all;
}

#signup-btn{
    border: 2px solid var(--color3);
    padding: 10px;
    border-radius: 15px;
}

#signup-btn:hover{
    background-color: var(--color3);
    color: var(--color1);
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 50px;
    line-height: 10px;
    font-family: var(--font2);
}

span{
    color: var(--color3);
}

p{
    line-height: 20px;
    max-width: 400px;
    font-family: var(--font-padrao);
}

img{
    width: 650px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: var(--color3);
    color: var(--color1);
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}