@charset "UTF-8";

@font-face {
    font-family: 'nasa';
    src: url('../font/nasalization-rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space';
    src: url('../font/space\ age.ttf') format('truetype');
}

:root{
    --color1: #ffffff;
    --color2: #212121;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font1: 'nasa';
    --font2: 'space';
}

body{
    background-color: var(--color2);
    color: var(--color1);
    font-family: var(--font2);
}